# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

## Лабораторная работа №2

### Базовые операции с `DataFrame`

In [1]:
import pandas as pd

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца(ов) с индексами.

In [2]:
recipes = pd.read_csv("recipes_sample.csv", sep=",", parse_dates = ['submitted']) #Правильный парсинг даты для 2.1
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

In [3]:
reviews = pd.read_csv("reviews_sample.csv", sep=",", parse_dates=["date"])
reviews

,Unnamed: 0,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [19]:
print(f"Recipes\n\nТочек: {len(recipes)}\n\nСтолбцов: {len(recipes.columns)}\n\nТипы:\n{recipes.dtypes}\n----")
print(f"Reviews\n\nТочек: {len(reviews)}\n\nСтолбцов: {len(reviews.columns)}\n\nТипы:\n{reviews.dtypes}")

Recipes

Точек: 30000

Столбцов: 8

Типы:
name                      object
id                         int64
minutes                    int64
contributor_id             int64
submitted         datetime64[ns]
n_steps                  float64
description               object
n_ingredients            float64
dtype: object
----
Reviews

Точек: 126696

Столбцов: 6

Типы:
Unnamed: 0             int64
user_id                int64
recipe_id              int64
date          datetime64[ns]
rating                 int64
review                object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [40]:
print(f"[{round((len(recipes)-len(recipes.dropna()))/len(recipes)*100, 2)}]\n{recipes.isnull().sum()}\n")
print(f"[{round((len(reviews)-len(reviews.dropna()))/len(reviews)*100, 2)}]\n{reviews.isnull().sum()}")

[56.85]
name                  0
id                    0
minutes               0
contributor_id        0
submitted             0
n_steps           11190
description         623
n_ingredients      8880
dtype: int64

[0.01]
Unnamed: 0     0
user_id        0
recipe_id      0
date           0
rating         0
review        17
dtype: int64

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [45]:
print(f"Recipes:\n\nminutes: {recipes['minutes'].mean()}n_steps: \n{recipes['n_steps'].mean()}n_ingredients: \n{recipes['n_ingredients'].mean()}")
print(f"\nReviews:\n\nrating: {reviews['rating'].mean()}")

Recipes:

minutes: 123.35813333333333n_steps:
9.805582137161085n_ingredients:
9.008285984848484

Reviews:

rating: 4.410802235271832

1.5 Создайте серию из 10 случайных названий рецептов.

In [13]:
print(recipes["name"].sample(n=10))

22142                              ranchero beef pizza
5271     cheesy hash browns casserole in the crock pot
950                                     apple smoothie
7597                                  corn quesadillas
1608           baby spinach salad with peanut dressing
26392                                  sunshine bisque
3005                                bev s deviled eggs
8558                               crock pot  carnitas
18694                             no bake coconut cake
10020           easy ginger shrimp wraps   hcg phase 2
Name: name, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [11]:
reviews.rename(columns={"Unnamed: 0": "index"}, inplace=True)
reviews.set_index('index')
print(reviews)

          index     user_id  recipe_id       date  rating  \
0        370476       21752      57993 2003-05-01       5
1        624300      431813     142201 2007-09-16       5
2        187037      400708     252013 2008-01-10       4
3        706134  2001852463     404716 2017-12-11       5
4        312179       95810     129396 2008-03-14       5
...         ...         ...        ...        ...     ...
126691  1013457     1270706     335534 2009-05-17       4
126692   158736     2282344       8701 2012-06-03       0
126693  1059834      689540     222001 2008-04-08       5
126694   453285  2000242659     354979 2015-06-02       5
126695   691207      463435     415599 2010-09-30       5

                                                   review
0       Last week whole sides of frozen salmon fillet ...
1       So simple and so tasty!  I used a yellow capsi...
2       Very nice breakfast HH, easy to make and yummy...
3       These are a favorite for the holidays and so e...
4       Excellent soup!  The tomato flavor is just gre...
...                                                   ...
126691  This recipe was great! I made it last night. I...
126692  This recipe is outstanding. I followed the rec...
126693  Well, we were not a crowd but it was a fabulou...
126694  I have been a steak eater and dedicated BBQ gr...
126695  Wonderful and simple to prepare seasoning blen...

[126696 rows x 6 columns]

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [7]:
recipes.loc[(recipes['minutes'] <= 20)&(recipes['n_ingredients'] <=5)]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
28,quick biscuit bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0
60,peas fit for a king or queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0
...,...,...,...,...,...,...,...,...
29873,zip and steam red potatoes with butter and garlic,304922,13,724218,2008-05-27,9.0,"i haven't tried this yet, but i am going to so...",5.0
29874,ziplock vanilla ice cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0
29905,zucchini and corn with cheese,256177,15,305531,2007-09-29,4.0,from betty crocker fresh spring recipes. i lik...,5.0
29980,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0
29983,zucchini with serrano ham,162411,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [8]:
recipes.dtypes #Уже в правильном формате

name                      object
id                         int64
minutes                    int64
contributor_id             int64
submitted         datetime64[ns]
n_steps                  float64
description               object
n_ingredients            float64
dtype: object

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [18]:
recipes.loc[recipes['submitted'].dt.year <= 2010]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29993,zuni caf zucchini pickles,316950,2895,62264,2008-07-31,NaN,refrigerator pickles for some of the zucchini ...,8.0
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [26]:
recipes['description_length'] = recipes['description'].str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [27]:
recipes['description'] = recipes['description'].str.title()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,An Original Recipe Created By Chef Scott Meska...,18.0,330.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,My Children And Their Friends Ask For My Homem...,NaN,255.0
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"These Were So Go, It Surprised Even Me.",8.0,39.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,My Sister-In-Law Made These For Us At A Family...,NaN,154.0
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,I Think A Fondue Is A Very Romantic Casual Din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,This Is Based On A French Recipe But I Changed...,10.0,484.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"This Is A Traditional Fresh Plum Cake, Thought...",11.0,286.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,This Is A Traditional Late Summer Early Fall S...,NaN,311.0
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,This Is A Delicious Soup That I Originally Fou...,NaN,648.0
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"I'Ve Heard Of The 'Cookies By Design' Company,...",10.0,125.0

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами).

In [28]:
recipes['name_word_count'] = recipes['name'].str.split(" ").apply(len)
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,An Original Recipe Created By Chef Scott Meska...,18.0,330.0,9
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,My Children And Their Friends Ask For My Homem...,NaN,255.0,6
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"These Were So Go, It Surprised Even Me.",8.0,39.0,7
3,italian gut busters,35173,45,22724,2002-07-27,NaN,My Sister-In-Law Made These For Us At A Family...,NaN,154.0,4
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,I Think A Fondue Is A Very Romantic Casual Din...,NaN,587.0,11
...,...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,This Is Based On A French Recipe But I Changed...,10.0,484.0,8
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"This Is A Traditional Fresh Plum Cake, Thought...",11.0,286.0,5
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,This Is A Traditional Late Summer Early Fall S...,NaN,311.0,7
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,This Is A Delicious Soup That I Originally Fou...,NaN,648.0,2
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"I'Ve Heard Of The 'Cookies By Design' Company,...",10.0,125.0,9

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [15]:
recipes.groupby("contributor_id")["id"].count()

recipes.loc[recipes['contributor_id'] == 1533]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
163,3 corn casserole bread,79826,70,1533,2003-12-30,NaN,i served this with goulash and it was perfect.,NaN
295,abm spinach bread,19618,10,1533,2002-02-13,NaN,NaN,NaN
454,all canadian turkey cheeseburger,37313,31,1533,2002-08-15,8.0,NaN,12.0
511,almond crusted chicken breasts,22337,35,1533,2002-03-14,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
29482,winter squash muffins,80832,33,1533,2004-01-12,7.0,NaN,11.0
29487,winter warm up soup,39929,45,1533,2002-09-10,9.0,a quick and easy soup just for two.,10.0
29524,wonton chips,27176,12,1533,2002-05-03,NaN,"these chips are quick and easy to make, and ar...",2.0
29698,yogurt cucumber dip ww,124377,15,1533,2005-06-02,3.0,"raw or blanched vegetables, such as carrots, c...",8.0
29934,zucchini enchiladas,21092,40,1533,2002-03-01,NaN,NaN,8.0

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы?

In [9]:
reviews.groupby(['user_id'])['rating'].mean()

user_id
1533          4.761905
1535          4.356322
1634          3.714286
1676          5.000000
1792          4.333333
                ...
2002369279    5.000000
2002369442    2.000000
2002370317    5.000000
2002370666    0.000000
2002371792    4.000000
Name: rating, Length: 44803, dtype: float64

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [10]:
recipes.groupby(recipes['submitted'].dt.year)['name'].count()

submitted
1999     275
2000     104
2001     589
2002    2644
2003    2334
2004    2153
2005    3130
2006    3473
2007    4429
2008    4029
2009    2963
2010    1538
2011     922
2012     659
2013     490
2014     139
2015      42
2016      24
2017      39
2018      24
Name: name, dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты без отзывов должны отсутствовать в данной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и выведя на экран строку из полученного `DataFrame`, содержащую информацию об этом отзыве.

In [21]:
newdata = pd.merge(recipes[['id', 'name']], reviews[['user_id', 'rating', 'recipe_id']], how='inner', left_on='id', right_on='recipe_id')
newdata = newdata.drop(labels='recipe_id', axis = 1)
newdata.index.name = 'index'

print(reviews.loc[[reviews[reviews['review'].isna()].index[0]]])
print(newdata.loc[[reviews[reviews['review'].isna()].index[0]]])

newdata

      index     user_id  recipe_id       date  rating review
8881  56957  2001567544       9054 2017-06-03       5    NaN
          id                          name  user_id  rating
index
8881   72761  banana bread sticks for baby   463298       5

            id                                    name  user_id  rating
index
0        44123   george s at the cove  black bean soup   743566       5
1        44123   george s at the cove  black bean soup    76503       5
2        44123   george s at the cove  black bean soup    34206       5
3        67664      healthy for them  yogurt popsicles   494084       5
4        67664      healthy for them  yogurt popsicles   303445       5
...        ...                                     ...      ...     ...
126691  486161                             zydeco soup   305531       5
126692  486161                             zydeco soup  1271506       5
126693  486161                             zydeco soup   724631       5
126694  486161                             zydeco soup   133174       5
126695  298512  cookies by design   cookies on a stick   804234       1

[126696 rows x 4 columns]

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`. У рецептов, для которых отсутствуют отзывы, в соответствущем столбце должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и выведя на экран строку из полученного `DataFrame`, содержащую информацию об этом отзыве.

5.3. Выясните, отзывы, добавленные в каком году, имеют наименьший средний рейтинг?

In [25]:
reviews['rating'].groupby(pd.DatetimeIndex(reviews['date']).year).mean().sort_values(ascending=False)

date
2006    4.603673
2005    4.563680
2007    4.547077
2004    4.546548
2003    4.526940
2009    4.524728
2008    4.484635
2002    4.481556
2010    4.454440
2012    4.341427
2011    4.302045
2013    4.274168
2001    4.134426
2014    4.110595
2015    4.047145
2016    3.912603
2018    3.504076
2000    3.384615
2017    3.353042
Name: rating, dtype: float64

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [30]:
recipes.sort_values(by='name_word_count').to_csv('61.csv')

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [32]:
with pd.ExcelWriter('6.2.xlsx') as i:newdata.to_excel(i)